.root {
    -fx-background-color: #02186d
}

.button {
    -fx-background-color: #00478d;
    -fx-border-color: #000000;
}

.button:hover {
    -fx-background-color: #11589f;
}

.button:focused {
    -fx-border-color: #666666;
}

.button:pressed {
    -fx-background-color: #00367c;
}

.text-field {
    -fx-background-color: #000036;
    -fx-text-fill: #ffffff;
    -fx-border-color: #222222;
}

.text-field:hover {
    -fx-border-color: #666666;
}

.text-field:focused {
    -fx-border-color: #aaaaaa;
}

.text-area {
    -fx-control-inner-background: #000036;
    -fx-text-fill: #ffffff;
    -fx-text-box-border: #222222;
    -fx-focus-color: #aaaaaa;
}

.text-area:hover {
    -fx-text-box-border: #666666;
}

.text-area:focused {
    //-fx-border-color: #aaaaaa;
}

.text {
    -fx-fill: #aaaaaa;
}